<h1 class='mt-4'>Seeder, our Data Center</h1>
<div class='row mt-4 gx-3'>
  <div style='color:white' class='col-md-4'>

    <NumberBox @title='Libraries' @number={{@allData.libraries.length}} />
  </div>
  <div style='color:white' class='col-md-4'>
    <NumberBox @title='Authors' @number={{@allData.authors.length}} /></div>
  <div style='color:white' class='col-md-4'>
    <NumberBox @title='Books' @number={{@allData.books.length}} />
  </div>
</div>