{{page-title 'Invitations'}}
<div class='container'>
  <h1 class='mt-4'>Invitations</h1>

  <div class='mt-2'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th scope='col'>ID</th>
          <th scope='col'>E-mail</th>
        </tr>
      </thead>
      <tbody>

        {{#each @model as |invitation|}}
          <tr>
            <th scope='row'>{{invitation.id}}</th>
            <td>{{invitation.email}}</td>

          </tr>
        {{/each}}

      </tbody>
    </table>

  </div>

</div>