<div class='container'>
  <h1>Libraries</h1>

  <div class='mt-4'>

    <ul class='nav nav-pills'>
      <li class='nav-item'>
        <LinkTo @route='libraries.index' class='nav-link'>
          List All</LinkTo>
      </li>
      <li class='nav-item'>
        <LinkTo @route='libraries.new' class='nav-link'>Add New</LinkTo>
      </li>
    </ul>

  </div>

</div>